# 包含源代码文件
include *.py
include *.html
include *.bat
include run.sh
include openapi.json
include requirements.txt
include CI

# 包含目录及其所有内容
recursive-include agents *
recursive-include utils *
recursive-include script *
recursive-include static *
recursive-include router *
recursive-include templates *
recursive-include docker *

# 包含数据文件
include data/*.yaml

# 排除不需要的目录和文件
prune .venv
prune .git
#prune data
prune docker_build
prune script/data

# 排除特定文件
exclude script/nlp.py

# 排除所有 __pycache__ 目录及其内容
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.log
global-exclude *.png
global-exclude *.csv
global-exclude *.xlsx
global-exclude data/*.pkl